<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<!--The content below is only a placeholder and can be replaced.-->
<div>
  <ul>
    <ng-container *ngFor="let framework of frameworks">
        <li *ngIf="framework.active">{{ framework.name }}</li>
    </ng-container>
  </ul>
  <hr>
  <ul>
      <ng-container *ngFor="let framework of frameworks; odd as isOdd">
        <li clickCounter [ngStyle]="{color: (framework.active) ? 'black' : 'gray'}" [ngClass]="{par: isOdd}" [ngSwitch]="framework.level" [highlight]="framework.level">
          <span>{{ framework.name }} - Level: </span>
          <span *ngSwitchCase="0" style="color: red">Null</span>
          <span *ngSwitchCase="1" style="color: brown">Basic</span>
          <span *ngSwitchCase="2" style="color: cyan">Medium</span>
          <span *ngSwitchCase="3" style="color: chartreuse">Expert</span>
        </li>
      </ng-container>
    </ul>
</div>
<router-outlet></router-outlet>
